<div class="row">
    <div class="col-md-12">
        <h1>2. Account Setup</h1>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="col-md-12" id="error_account_setup_text"></div>

        <div class="row">
            <div class="col-md-12">
                <h6>Fill in the information below</h6>
            </div>
        </div>
    </div>
</div>

<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="form-group row">
                    <label class="col-2">API User</label>
                    <div class="col-10">
                        <input type="text"
                               id="job_name"
                               class="form-control"
                               name="job_name"
                               placeholder="Job Name"
                               required
                        >
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-2">Environment</label>
                    <div class="col-10">
                        <select id="environment_select" class="custom-select" required>
                            <option value="" selected="">Open this select menu</option>
                            {% for env in ENVIRONMENTS %}

                                <option value="{{ env.0 }}">{{ env.1 }}</option>

                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-2">API User</label>
                    <div class="col-10">
                        <input type="text"
                               id="api_user"
                               class="form-control"
                               name="api_user"
                               placeholder="API USER"
                               required
                        >
                    </div>
                </div>
                <div class="form-group row">
                    <label for="api_key" class="col-2 col-form-label">API Key</label>
                    <div class="col-10">
                        <input type="password"
                               id="api_key"
                               name="api_token"
                               class="form-control"
                               placeholder="API KEY"
                               required
                               style="opacity: 0.5;"
                        >
                    </div>
                </div>
                <button id="submit-account-setup" class="btn btn-primary">Continue</button>

            </div>
        </div>
    </div>
</div>
