<h2>Account Setup</h2>

<div class="col-md-12" id="error_account_setup_text"></div>

<div class="form row">

    <div class="col-md-3 my-3"><label>Environment</label></div>

    <div class="col-md-9 my-3">

        <select id="environment_select" class="form-control">

            {% for env in ENVIRONMENTS %}

                <option value="{{ env.0 }}">{{ env.1 }}</option>

            {% endfor %}

        </select>
    </div>

    <div class="col-md-3 my-3"><label>Api User</label></div>

    <div class="col-md-9 my-3">

        <input type="text" id="api_user" name="api_user" placeholder="API USER" class="form-control" required>

    </div>

    <div class="col-md-3 my-3"><label>Api Key</label></div>

    <div class="col-md-9 my-3">

        <input type="password" id="api_key" name="api_token"  class="form-control" placeholder="API KEY" required>

    </div>

    <div class="col-md-12"><input type="submit" value="Continue" class="btn btn-primary" id="submit-account-setup"></div>

</div>
