<h2>Column Mapping</h2>

<p>Errors - <output id="count-errors-mapping"></output></p>

<div class="col-md-12"><span  id="error_column-mapping_text"></span></div>

<div class="form row">
    <div class="col-md-3 my-3"><label> Data File</label></div>

    <div class="col-md-6 my-3">

        <input type="file" id="reload_file_csv" name="reload_file_csv" required>

    </div>

    <div class="col-md-3 my-3">
        <div class="col-md-12">
            <input type="submit" value="Reload Upluoad" class="btn btn-primary" id="submit-reload-upload">
        </div>

    </div>

</div>

<div class="row" id="download-div">

</div>
