{% load static %}

<div class="py-5">
    <div class="container">
        <div id="headers_tables" class="row">
            <div class="col-md-12" id="mapping_errors_alert"></div>
            <table id="headers_table" class="table">
                <thead>
                    <tr>
                        <th scope="col">File Header</th>
                        <th scope="col">IDM API Field</th>
                    </tr>
                </thead>
                <tbody>
                <tr></tr>
                </tbody>
            </table>
            <div class="input-group-append pl-2">
                <button id="change-header" class="btn btn-primary" type="button">Continue</button>
            </div>
        </div>
    </div>
</div>
