{% load static %}
<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="log" class="alert alert-danger" style="display: none;">
                    <p id="error_text"></p>
                </div>
                <h6 class="">Validating Document</h6>
            </div>
        </div>
    </div>
</div>

<div id="jexcel">
    <div id="my_tests"></div>
</div>

<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <div class="col-md-12">
                <button id="validate-changes" class="btn btn-primary" type="button">Validate</button>
            </div>
        </div>
    </div>
</div>
