{% load static %}
<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <div class="col-md-12">
                <h6 class="">Editing Document</h6>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="edit_data"></div>
            </div>
        </div>
        <div class="input-group-append pl-2">
            <button id="validate-jexcel" class="btn btn-primary" type="button">Validate</button>
        </div>
    </div>
</div>
