{% load static %}
<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-12" id="error_editing_data"></div>
                <h6 class="">Editing Document</h6>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="edit_data">
                    <div class="se-pre-con"></div>
                </div>
            </div>
        </div>
        <div class="input-group-append pl-2">
            <button id="validate-jexcel" class="btn btn-primary" type="button">Validate</button>
            <button id="validating_button" class="btn btn-primary" type="button" style="display: none">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Validating...
            </button>
        </div>
    </div>
</div>
