<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="ml-auto col-lg-7 text-center text-lg-left">
                <div class="col-md-12" id="error_file_upload_text"></div>
                <h1>3. Upload File</h1>
                <p class="mb-0">Please attach the CSV document to validate</p>
            </div>
            <div class="col-lg-4 d-flex justify-content-center align-items-center p-3">
                <div class="input-group">
                    <div class="custom-file">
                        {{ file_form.path }}
                        <label class="custom-file-label" for="file_csv">Choose file</label>
                    </div>
{#                    <div class="input-group-append pl-2">#}
{#                        <button id="submit-file-upload" class="btn btn-primary" type="button">Validate</button>#}
{#                    </div>#}
                    <div class="input-group-append pl-2">
                        <button id="get-headers-button" class="btn btn-primary" type="submit">Load</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</form>
