{% load static %}
<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <div class="col-md-12 pl-0">
                <div class="col-md-12" id="process_table_errors"></div>
                <h1 class="">1. Process Table</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <button id="new_upload" type="button" class="btn btn-primary">New Upload</button>
        </div>
        <br>
        <div class="row">
                <table class="table table-bordered">
                    <thead>

                    <tr>

                        <th scope="col">#</th>

                        <th scope="col">Job Name</th>

                        <th scope="col">Api User</th>

                        <th scope="col">Environment</th>

                        <th scope="col">Status</th>

                        <th scope="col">Results</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for process in processes %}
                        <tr>

                        {% if process.id_status.pk != 1 %}

                            <th scope="row">{{ forloop.counter }}</th>

                            <td>{{ process.name }}</td>

                            <td>{{ process.api_user }}</td>

                            <td>{{ process.environment }}</td>

                            {% if process.id_status.pk == 2 %}
                                <td>In queue</td>
                                <td></td>
                            {% elif process.id_status.pk == 3 %}
                                <td>Running</td>
                                <td></td>
                            {% elif process.id_status.pk == 4 %}
                                <td>Done</td>
                                <td><a href="./media/uploads/csv_ready_to_upload_{{ process.pk }}_validResult.csv">Results</a></td>
                            {% elif process.id_status.pk == 5 %}
                                <td>Interrupted</td>
                                <td></td>
                            {% elif process.id_status.pk == 6 %}
                                <td>Error</td>
                                <td></td>
                            {% endif %}

                        {% endif %}
                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
    </div>
</div>
