{% load static %}
<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <div class="col-md-12 pl-0">
                <div class="col-md-12" id="process_table_errors"></div>
                <h1 class="">1. Process Table</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div id="progress_container" class="container">
        <div class="row">
            <button id="new_upload" type="button" class="btn btn-primary">New Upload</button>
        </div>
        <br>
        <div class="row">
                <table class="table table-bordered">
                    <thead>

                    <tr>

                        <th scope="col">#</th>

                        <th scope="col">Job Name</th>

                        <th scope="col">Api User</th>

                        <th scope="col">Environment</th>

                        <th scope="col">Status</th>

                        <th scope="col">Results</th>

                    </tr>

                    </thead>
                    <tbody>

                    <tr>

                        <th scope="row">1</th>

                        <td>Ferratum POC</td>

                        <td>ferratum</td>

                        <td>amldemo</td>

                        <td>Done</td>

                        <td><a href="#">ferratum_poc.csv</a></td>

                    </tr>

                    <tr>

                        <th scope="row">2</th>

                        <td>Tipalti POC</td>

                        <td>tipaltipoc</td>

                        <td>staging</td>

                        <td>Done</td>

                        <td><a href="#">tipalti_poc.csv</a></td>

                    </tr>

                    <tr>

                        <th scope="row">3</th>

                        <td>Samuc POC</td>

                        <td>samup</td>

                        <td>amldemo</td>

                        <td><a href="#">Error</a></td>
                        <td></td>

                    </tr>

                    <tr>

                        <th scope="row">4</th>

                        <td>Paypal POC</td>

                        <td>paypal</td>

                        <td>sataging</td>

                        <td>Done</td>

                        <td><a href="#">paypal_poc.csv</a></td>

                    </tr>

                    </tbody>
                </table>
            </div>
    </div>
</div>
