<div class="py-5">
    <div class="container">

        <div class="row">
            <div class="col-md-12">

                <h1 class=""><b>7. Submit Data</b></h1>

            </div>

        </div>

    </div>

</div>

<div class="py-5" style="">

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <div class="card">
                    <div class="card-body">

                        <h3 id="data_submitted_header" class="card-title text-success"><i class="fa fa-check-circle-o"></i><b>&nbsp; Validation completed</b></h3>

                        <h6 class="card-subtitle my-2 text-muted"><b>No errors found</b></h6>

                        <h6 class="card-subtitle my-2 text-success"><br></h6>

                        <div id="summary"></div>

{#                        <input type="submit" value="Submit Data" class="btn btn-primary" id="submit-data">#}
                        <input type="submit" value="Schedule Job" class="btn btn-primary" id="schedule-job">

                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div id="submit_progress_bar_container" style="display: none">
                    <p>Saving Data on Edna</p>
                    <div class="progress">
                        <div id="submit_progress_bar" class="progress-bar progress-bar-striped"
                             aria-valuenow="0"
                             aria-valuemin="0"
                             aria-valuemax="100"
                             role="progressbar"
                             style="width: 0%">
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{#<h2>Submit Data</h2>#}
{##}
{#<div class="col-md-12" id="count-errors-mapping">#}
{#    <div id="error-text" class="alert alert-success text-center id" role="alert">File Without Errors!</div>#}
{#    <div id="submit-data-errors" class="col-md-12"></div>#}
{#</div>#}
{##}
{#<div class="form row">#}
{#    <div class="col-md-3 my-3">#}
{#        <div class="col-md-12">#}
{#            <input type="submit" value="Submit Data" class="btn btn-primary" id="submit-data">#}
{#        </div>#}
{#    </div>#}
{#</div>#}
