{% extends 'base.html' %}

{% block content %}

    <nav aria-label="breadcrumb" class="mt-4">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" id="menu-account-setup">Account Setup</li>
            <li class="breadcrumb-item" id="menu-file-upload">File Upload</li>
            <li class="breadcrumb-item" id="menu-column-mapping" aria-current="page">Column Mapping</li>
        </ol>
    </nav>


    <section id="section-account-setup" class="">
        {% include "poc/elements/account_setup.html" %}
    </section>


    <section id="section-file-upload" class="d-none">
        {% include "poc/elements/file-upload.html" %}
    </section>


    <section id="section-column-mapping" class="d-none">
        {% include "poc/elements/column-mapping.html" %}
    </section>


{% endblock %}
