{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h4 class="">Follow the next steps</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul id="breadcrumb" class="breadcrumb">
                <li id="menu-process-table" class="breadcrumb-item active"> <a>1. Process Table</a> </li>
                <li id="menu-account-setup" class="breadcrumb-item"> <a>2. Account Setup</a> </li>
                <li id="menu-file-upload" class="breadcrumb-item"> <a>3. Upload File</a> </li>
                <li id="menu-column-mapping" class="breadcrumb-item"> <a>4. Column Mapping</a> </li>
                <li id="menu-editing-data" class="breadcrumb-item"> <a>5. Editing Data</a> </li>
                <li id="menu-data-validation" class="breadcrumb-item"> <a>6. Data Validation</a> </li>
                <li id="menu-submit-correct-data" class="breadcrumb-item"> <a>7. Submit Data</a> </li>
            </ul>
        </div>
    </div>

    <section id="section-process-table" class="">
        {% include "poc/elements/process_table.html" %}
    </section>

    <section id="section-account-setup" class="d-none">
        {% include "poc/elements/account_setup.html" %}
    </section>

    <section id="section-file-upload" class="d-none">
        {% include "poc/elements/file-upload.html" %}
    </section>

    <section id="section-column-mapping" class="d-none">
        {% include "poc/elements/column-mapping.html" %}
    </section>

    <section id="section-editing-data" class="d-none">
        {% include "poc/elements/editing-data.html" %}
    </section>

    <section id="section-data-validation" class="d-none">
        {% include "poc/elements/data-validation.html" %}
    </section>

    <section id="section-submit-correct-data" class="d-none">
        {% include "poc/elements/submit-correct-data.html" %}
    </section>


{% endblock %}
